<section class="relative h-full w-full">
  <h2 class="font-workSans font-extralight z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-5xl text-center max-w-md leading-tight">
    More than music;<br />It's your essence
  </h2>
  <picture class="absolute w-1/2 right-0 top-0 h-full opacity-65">
    <source srcset="assets/img/home.jpg" media="(min-width: 700px)" />
    <img src="assets/img/home.jpg" alt="Instrumentos musicales" class="w-full h-full object-cover" />
  </picture>
</section>
